extends layout 

block contenido 
    .contenido-principal 
        h1 #{nombrePagina} - #{proyecto.nombre}
           
            .contenedor-acciones 
                a(href=`/proyecto/editar/${proyecto.id}` class="boton") Editar proyecto
                button#eliminar-proyecto(data-proyecto-url= proyecto.url type="button" class="boton eliminar") Eliminar Proyecto       